<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body
    style="margin: 0; padding: 0; min-width: 100%; font-family: Arial, sans-serif; font-size: 16px; line-height: 1.5; background-color: #FAFAFA; color: #222222;">
    <div style="max-width: 600px; margin: 0 auto;">
        <div style="background-color: #1677ff; padding: 24px; color: #ffffff !important;">
            <h1
                style="font-size: 24px; font-weight: 700; line-height: 1.25; margin-top: 0; text-align: center; color: #ffffff !important;">
                Ancloud
            </h1>
            <p style="font-size: 18px; text-align: center; color: #ffffff !important;">Giải Pháp Đơn Giản Cho Thành Công
                Lớn</p>
        </div>
        <div style="padding: 24px; background-color: #ffffff;">
            <p style="margin-top: 0; margin-bottom: 24px;">Xin chào.</p>
            <p style="margin-top: 0; margin-bottom: 24px;">Bạn vừa mới yêu cầu đặt lại mật khẩu bằng email này.</p>
            <ul>
                <li>Thay đổi mật khẩu mới của bạn <strong><a href="{{resetUrl}}">Tại đây</a></strong></li>
                <li>Vui lòng đăng nhập và thay đổi mật khẩu ngay sau khi đăng nhập</li>
                <li>Nếu bạn không thực hiện yêu cầu đặt lại mật khẩu, vui lòng bỏ qua email này.</li>
            </ul>
        </div>
        <div style="background-color: #f6f6f6; padding: 24px;">
            <p>Trung tâm hỗ trợ khách hàng - Công ty TNHH NexGen Group</p>
            <p>Email: <a href="mailto:hello@saleup.vn">hello@saleup.vn</a> - Hotline: 0349819299</p>
        </div>
    </div>
</body>

</html>